body {
    font-family: Arial, sans-serif;
    color: #444444;
    margin-left: 4rem;
}
h1,h2,h3 {
    font-family:serif;
    color: #111111;
}
time {
    color: #888888;
}
code {
    color: #994444;
}
p {
    line-height: 1.5;   
}

gocode {
    font-family: monospace;
    display: block;
    white-space: pre-wrap;
    background-color: #BEEBCA;
    width: 800px;
    margin-left: 50px;
    padding-left: 16px;
}
